<% include ../partials/header%>
<div id="index">
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group info">
                <li class="list-group-item active"><a href="#picture">Picture</a></li>
                <li class="list-group-item"><a href="#description">Description</a></li>
                <li class="list-group-item"><a href="#review">Review</a></li>
                <div id="map"></div>
            </div>
            
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <a name="picture"></a>
                <img src="<%=campground.image%>" class="img-responsive">
                <div class="caption-full">
                    <h4 class="pull-right"><%=campground.price%>$/night</h4>
                    <a><h4><%=campground.name%></h4></a>
                    <a name="description"></a>
                    <p><%=campground.description%></p>
                    <p><em>Created by <%=campground.author.username%>,<%=moment(campground.created).fromNow()%></em></p>
                    <% if(currentUser&&currentUser.id==campground.author.id){%>
                        <a class="btn btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit Camp</a>
                        <form id="deleteForm" method="POST" action="/campgrounds/<2%=campground._id%>?_method=DELETE">
                            <button class="btn btn-danger">Delete</button>
                        </form>   
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-medium btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Leave a Review</a>
                </div>
                <hr>
                <a name="review"></a>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%=comment.author.username%></strong>
                            <span class="pull-right"><%=moment(comment.created).fromNow()%></span>
                            <p><%=comment.text%></p>
                            <% if(currentUser&&comment.author.id.equals(currentUser._id)){%>
                                <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                <form id="deleteForm" method="POST" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                                
                            <% }%>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>
    </div>
</div>
</div>
<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV4-GpPyqa2ZKRNBtmu3rSafI2YdQm2No&callback=initMap"></script>
<% include ../partials/footer%>